.fondohome{
        background: url('../img/home.png');
        height: 90vh;
        background-position: center;
        background-size: cover;
        }
.fondoespecialistas{
    background: url('../img/Especilistas.png');
    height: 90vh;
    background-position: center;
    background-size: cover;
}
.fondoretos{
    background: url('../img/Retos.png');
    height: 90vh;
    background-position: center;
    background-size: cover;
}
.justicia1{
    background: #3280DE; 
}
.justicia2{
    background: url('../img/justicia.png');
    height: 90vh;
    background-position: center;
    background-size: cover;
}
.integracion{
    background: url('../img/integracion.png');
    height: 90vh;
    background-position: center;
    background-size: cover;
}
.footer{
    background: #0F417F;
    color: aliceblue;
}